.batch-container {
  max-width: 1050px;
  margin: auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 30px;

}


.batch-header {
  display: flex;
  justify-content: space-between; /* space between left and right */
  align-items: center;
  color: #007bff;
  margin-bottom: 20px;
}

/* Style the left group */
.batch-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-content.large {
  max-height: 70vh;
  overflow-y: auto;
}

.error-msg {
  color: red;
  font-size: 0.85rem;
  margin-top: 1px;
}

.batch-button {
  margin: 20px 0;
  padding: 8px 16px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
} 
.batch-button:hover {
  background: #0056b3;
}

.batch-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
.batch-table th, .batch-table td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
.batch-table th {
  background: #007bff;
  color: white;
}

.status-approved {
  background: #d4edda;
  color: #155724;
  padding: 4px 8px;
  border-radius: 4px;
}
.status-pending {
  background: #fff3cd;
  color: #856404;
  padding: 4px 8px;
  border-radius: 4px;
}
.status-rejected {
  background: #f8d7da;
  color: #721c24;
  padding: 4px 8px;
  border-radius: 4px;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 6px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 15px;
  width: 400px;
  
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.popup h2 {
  margin-top: 0;
  color: #007bff;
}

.popup label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

.popup input,
.popup select {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.popup-actions {
  text-align: right;
  margin-top: 10px;
}
.popup-actions button {
  padding: 6px 12px;
  margin-left: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.popup-actions button:first-child {
  background-color: #28a745;
  color: white;
}
.popup-actions button:last-child {
  background-color: #dc3545;
  color: white;
}