.Production {
  margin: 0 auto;
  padding: 40px;
  max-width: 1000px;
 
}

.dashboard-section{

margin-bottom:80px;
}

.dashboard-section:last-child{
  margin-bottom: 0;
}

.graph-section {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
}