.Sale {
  padding: 30px;
  background-color: #f8f9fa;
}

.dashboard-section,
.graph-section {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
}